---
title: The Dove & The Seagull
layout: page
featured: 
 - 291707577
 - 791348506
 - 528044733
---
<div class="row">
			<div class="col-xs-12">

				<h1 class="title">Beautiful prints that  turn your house into  a home</h1>

			</div>
		</div>



			<div class="row">


			{% for item in site.section %}

				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="category category1">
						<div class="inner">
							<h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
						</div>
					</div>
				</div>
				{% endfor %}


			</div>



<div class="row">
	<div class="col-xs-12">
			<h2 class="title">Featured artwork</h2>
		</div>
		</div>
				<div class="row">

				{% for feat in page.featured %}
					{% for item in site.artwork %}

					{% if feat == item.listing_id %}
						{% include product-teaser.html %}

					{% endif%}
					{% endfor %}
					{% endfor %}
			
     

    </div>
