
<h4>Printing</h4>

<p>Prints are available in multiple sizes, with a white border around the edges to allow for easy framing. If you have a specific size requirement, get in touch – we're always happy to help.</p>

<p>We use 200gsm enhanced matt art paper, an extremely high quality paper with a lovely texture, which looks fantastic and brings out the best in your artwork. With care, your print will look fantastic for many years!</p>

<p>Please note that the actual item colours shown may be different from the photos above due to different monitor settings, and the frame shown is for illustrative purposes only.</p>

<h4>Shipping and delivery</h4>

<p>When posting, we'll carefully pack your prints in a mailing tube or stiff envelope to keep them safe, and we aim have them on their way to you within 2-7 days of receiving your payment.</p>