



<footer class="site-footer">
	<div class="footer-top">
  <div class="container">
  	<div class="row">
  		<div class="col-xs-12 col-sm-4">
  			<ul>
  				<li>About us</li>
  				<li>Shipping</li>
  				<li>Returns policy</li>
  				<li>Contact us</li>
  			</ul>
  		</div>

  	</div>
  </div>
</div>
	<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <p><a href="https://www.kevan.tv" target="_blank"><img src="{{ site.baseurl }}/images/site/mk.svg" alt="Matt kevan"></a></p>
      </div>
        <div class="col-xs-8">
          
        </div>
    </div>
  </div>
</div>

</footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.matchHeight-min.js"></script>
<script src="{{ site.baseurl }}/js/pagination.js"></script>
<script src="{{ site.baseurl }}/js/scripts.js"></script>