



<footer class="site-footer">
	<div class="footer-top">
  <div class="container">
  	<div class="row">
  		<div class="col-xs-12 col-sm-4">
  			
  		</div>

  	</div>
  </div>
</div>
	<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
       
      </div>
        <div class="col-xs-8">
          
        </div>
    </div>
  </div>
</div>

</footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/pagination.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/FeedEk.js"></script>
<script src="{{ site.baseurl }}/js/scripts.js"></script>
  <script>
    $(document).ready(function() {
      $('#divRss').FeedEk({
        FeedUrl:'{{ page.rss_link }}',
        MaxCount: 3,
        TitleLinkTarget:'_blank',
        
        });
      });
</script> 