{% for item in site.categories %}
	{% if item.section == page.section_id %}
		<p class="crumb s"><a href="/">Home</a> » <a href="{{ item.url }}">{{ item.title }}</a> » </p>
	{% endif %}
{% endfor %}

<h1>{{ page.title }}</h1>
<div class="buy-buttons">
	{% for item in site.data.artwork_prices %}
		<div class="buy-option {{ item.id }} hide">
			<p class="price">£{{ item.price }}</p>
		</div>
	{% endfor %}
</div>

<hr>

<div class="proposition">
	<ul>
		<li><svg class="bi bi-check" width="1.6em" height="1.6em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
		</svg>Free shipping to the UK</li>
			<li><svg class="bi bi-check" width="1.6em" height="1.6em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
		</svg>Dispatched within 5 working days</li>
			<li><svg class="bi bi-check" width="1.6em" height="1.6em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
		</svg>30 day money-back guarantee</li>
	</ul>
</div>

<hr>

<div class="form-group">
	<label>Select size: </label>
	<select class="div-toggle form-control" data-target=".buy-buttons">
		{% for item in site.data.artwork_prices %}
			 <option value="{{ item.id }}" data-show=".{{ item.id }}">{{ item.id }}</option>
		{% endfor %}
	</select>
</div>

<p><a href ="{{ page.etsy_url }}" target="_blank" class="btn btn-primary btn-lg btn-block">Buy on Etsy</a></p>

<hr>