---
layout: default
---

<div class="row page-top">
	<div class="col-xs-12 col-md-8">
			<p class="s"><a href="{{ site.baseurl }}/">Home</a> » <a href="{{ site.baseurl }}/collections">Collections</a> »</p>
			<h1 class="title">{{ page.title }}</h1>
			<p class="lead">{{ page.description }}</p>
			{{ content }}
			
	</div>
</div>


<hr>


<div class="row">
	{% for item in site.artwork %}
		{% for tag in item.tags %}
			{% if tag == page.tag %}
				<div class="col-6 col-md-4">
				{% include product-teaser.html %}
				</div>
			{% endif %}
		{% endfor %}
	{% endfor %}
</div>


